---
title: SlipStream | API Doc

language_tabs:
  - shell

toc_footers:
  - <a href='http://github.com/slipstream/SlipStreamServer'>SlipStream code is hosted on GitHub</a>
  - <a href='http://github.com/tripit/slate'>Documentation Powered by Slate</a>
  - <a href='http://sixsq.com'>SlipStream is developed by SixSq</a>

search: true
---

<% 
  VERSION='v2.6'
%>

# SlipStream <%= VERSION %> API Reference

## Introduction

Welcome to the SlipStream API. You can use our API to access SlipStream endpoints in order to manipulate
different REST resources, including project, image, deployment, available as *module*, as well as run and user.

This API focuses on the REST service offered and has been documented in Bash. You can view code examples in the dark area to the right.

This API documentation page was created with [Slate](http://github.com/tripit/slate). Feel free to report
any snags in the document in [GitHub](http://github.com/slipstream/SlipStreamDocumentationAPI).

> Adding `?media=xml`(for XML) at the end of the URL in the browser, you request the response to be returned in the specified content-type:

```shell
https://slipstream.sixsq.com?media=xml
```

> is equivalent to

```shell
https://slipstream.sixsq.com -H "Content-Type: application/xml"
```


<aside class="notice">
You can get a serialised version of most SlipStream resources directly in the browser.
</aside>


## Resource Oriented Architecture (ROA)

SlipStream's REST design was inspired from Richardson and Ruby's excellent book:
[RESTful Web Services](http://shop.oreilly.com/product/9780596529260.do). They present the
Resource Oriented Architecture (ROA) concept, which guided several design choices, including
the resources-based architecture underpinning SlipStream.  For example, each version of an image,
deployment and project can be uniquely identified via a unique URI.


# Authentication

With the exception of the documentation and the login pages, all resources require authentication.

SlipStream currently supports both `Basic Authentication` and `Cookies`. To generate a time limited
cookie, use the `/login` resource.

# Login

## Basic authentication

SlipStream supports basic authentication.  This can be tested using simple username/password pair.

```shell
curl https://slipstream.sixsq.com?media=xml -u <user>:<password>
```
> or

```shell
curl https://<user>:<password>@slipstream.sixsq.com?media=xml
```

```xml
<welcome>
   <modules>
      <item resourceUri="module/Mebster/48" category="Project" version="48" name="Mebster">
         <authz owner="meb" ownerGet="true" ownerPut="true" ownerPost="false" ownerDelete="true" ownerCreateChildren="true" groupGet="false" groupPut="false" groupPost="false" groupDelete="false" groupCreateChildren="false" publicGet="false" publicPut="false" publicPost="false" publicDelete="false" publicCreateChildren="false" inheritedGroupMembers="true">
            <groupMembers class="java.util.ArrayList"/>
         </authz>
      </item>
      <item resourceUri="module/SlipStream/280" category="Project" description="SlipStream dog fooding :-)" version="280" name="SlipStream">
         <authz owner="sixsq_dev" ownerGet="true" ownerPut="true" ownerPost="false" ownerDelete="true" ownerCreateChildren="true" groupGet="true" groupPut="true" groupPost="false" groupDelete="false" groupCreateChildren="false" publicGet="false" publicPut="false" publicPost="false" publicDelete="false" publicCreateChildren="false" inheritedGroupMembers="false">
            <groupMembers class="java.util.ArrayList">
               <string>lionel</string>
               <string>konstan</string>
               <string>loomis</string>
               <string>meb</string>
               <string>rob</string>
               <string>sebastien.fievet</string>
            </groupMembers>
         </authz>
      </item>
...

```

> The above command returns a header structured like this:



## Generate a cookie

```shell
curl https://slipstream.sixsq.com/login -d username=<user> -d password=<password> -H "Content-Type: application/xml"
```

> The above command returns a header structured like this:

```http
HTTP/1.1 200 OK
Server: nginx/1.4.7
Date: Tue, 06 May 2014 18:46:12 GMT
Accept-Ranges: bytes
Location: https://slipstream.sixsq.com
Server: Restlet-Framework/2.1m4
Set-Cookie: com.sixsq.slipstream.cookie=SOME_LONG_STRING; Path=/
Content-Length: 0
```

This resource allows users to generate a time limited cookie. The value of the cookie corresponds
to the `Set-Cookie` of the response header.

### HTTP Request

`POST https://slipstream.sixsq.com/login`

### Body Parameters

Parameter | Required | Description
--------- | -------- | -----------
username | true | Username to authenticate with
password | true | Password corresponding to the username

<aside class="notice">
Remember — with the exception of this resource and the documentation, all resources require authentication.
</aside>



# Module

(Extracted from the tutorial documentation)

Metadata about your images and deployments are organized into projects in SlipStream. Each project consists of a number of modules. The modules may be Project, Machine Image or Deployment modules:

  * *Project*: A container of modules used to provide logical grouping. A project may contain other projects allowing a hierarchical organization for large projects.

  * *Machine image*: A module that contains information about a virtual machine image. One type of machine image is a native image. These contain a cloud-specific identifier for a particular cloud infrastructure. The other type of machine image, a derived image, references another image (which can be a native image or another derived image) and includes a list of packages to install and/or recipes to configure the machine. These modules also include input/output parameters such that the machine can be synchronized as part of a deployment.

  * *Deployment*: A module that describes a coordinated deployment of one or more nodes. The deployment associates a machine image to each node and defines the synchronizaton necessary for the coordinated deployment.

These items are normalised into *module* resources in the REST API.

<aside class="notice">
Remember, image, deployment and project are type attributes of the module resource.
</aside>

## Get a module

```shell
curl https://slipstream.sixsq.com/module/<module> --user <user>:<password> -H "Content-Type: application/xml"
```

> The above command returns a response body structured like this:

```xml
<imageModule category="Image" creation="2013-12-02 17:00:37.421 UTC" deleted="false" description="Minimal installation of the Ubuntu 12.04 (LTS) operating system." imageId="8c7e60ae-3a30-4031-a3e6-29832d85d7cb" isBase="true" isLatestVersion="true" lastModified="2014-05-04 12:36:06.105 UTC" loginUser="ubuntu" logoLink="http://design.ubuntu.com/wp-content/uploads/ubuntu-logo14.png" parentUri="module/examples/images" platform="ubuntu" shortName="ubuntu-12.04" version="480">
	<parameters>
		<entry>
			<string>extra.disk.volatile</string>
			<parameter category="Cloud" description="Volatile extra disk in GB" isSet="false" mandatory="true" name="extra.disk.volatile" order="0" order_="0" readonly="false" type="String"/>
		</entry>
		<entry>
			<string>exoscale-ch-gva.instance.type</string>
			<parameter category="exoscale-ch-gva" description="Instance type (flavor)" isSet="true" mandatory="true" name="exoscale-ch-gva.instance.type" order="0" order_="0" readonly="false" type="String">
				<value>Small</value>
				<defaultValue>Small</defaultValue>
			</parameter>
		</entry>
...
		<entry>
			<string>ec2-eu-west.security.group</string>
			<parameter category="ec2-eu-west" description="Security groups (comma separated list)" isSet="true" mandatory="true" name="ec2-eu-west.security.group" order="0" order_="0" readonly="false" type="String">
				<value>default</value>
				<defaultValue>default</defaultValue>
			</parameter>
		</entry>
	</parameters>
	<authz groupCreateChildren="false" groupDelete="false" groupGet="true" groupPost="true" groupPut="false" inheritedGroupMembers="true" owner="sixsq" ownerCreateChildren="true" ownerDelete="true" ownerGet="true" ownerPost="true" ownerPut="true" publicCreateChildren="false" publicDelete="false" publicGet="true" publicPost="true" publicPut="false">
		<groupMembers />
	</authz>
	<commit author="sixsq"/>
	<published publicationDate="2014-05-04 12:36:06.105 UTC"/>
	<cloudNames length="3">
		<string>exoscale-ch-gva</string>
		<string>ec2-eu-west</string>
		<string>default</string>
	</cloudNames>
	<runs/>
	<targets />
	<packages />
	<prerecipe/>
	<recipe/>
	<cloudImageIdentifiers>
		<cloudImageIdentifier cloudImageIdentifier="ami-a0dd3dd7" cloudServiceName="ec2-eu-west"/>
		<cloudImageIdentifier cloudImageIdentifier="8c7e60ae-3a30-4031-a3e6-29832d85d7cb" cloudServiceName="exoscale-ch-gva"/>
	</cloudImageIdentifiers>
</imageModule>
```


Get a module (i.e. image, deployment or project).

### HTTP Request

`GET https://slipstream.sixsq.com/module/[<module>[/<version>]]`

### Url Parameters

Parameter | Required | Description
--------- | -------- | -----------
module | true | Unique identifier of the module - e.g. *examples/images/ubuntu-12.04*.
version | false | Version of the module to update. If not provided, get the latest (most recent)

<aside class="notice">
To list the root projects, simply omit the <em>&lt;MODULE></em> from the request.
</aside>

```shell
curl https://slipstream.sixsq.com/module/examples/foo -H "Content-Type: application/xml" --user <user>:<password> > foo.xml
```

## Update a module

Update a module (i.e. image, deployment or project).

The PUT request will create a new resource with the same &lt;module> name but a higher &lt;version>. The response includes the new fully qualified resource.

### HTTP Request

`PUT https://slipstream.sixsq.com/module/<module>/<version>`

The **Location** attribute in the response header provides the full url of the updated resource, with the incremented version.

### Body Parameters

Parameter | Required | Description
--------- | -------- | -----------
module | true | Unique identifier of the module - e.g. *examples/images/ubuntu-12.04*. If not provided, list the root modules.
version | false | Version of the module. If not provided, get the latest (most recent)


```shell
curl https://slipstream.sixsq.com/module/<module> --user <user>:<password> --data @<file> -X PUT -H "Content-Type: application/xml"
```

> where &lt;file> is an xml file - e.g. the result of a previous GET on the same resource

> The above command returns a header structured like this:

```http
HTTP/1.1 200 OK
Date: Mon, 12 May 2014 15:16:49 GMT
Accept-Ranges: bytes
Location: https://slipstream.sixsq.com/module/examples/foo/1199
Server: Restlet-Framework/2.1m4
Set-Cookie: com.sixsq.slipstream.cookie=com.sixsq.idtype=local&com.sixsq.identifier=test&com.sixsq.expirydate=1399951006191&com.sixsq.signature=-cotcj9t5rzu3zx2uof96x8scptxh5mbraazmf63doem22tkvlq1519twaz7uxlvtyyxd0fxvygvrsn1hip09yvn7v11c9a74j21; Path=/
Content-Length: 0
```

> To see the header, add *-D -* (with the trailing dash) to the curl command


<aside class="warning">
This PUT request is not idem potent - i.e. calling it several times will create new resources.
</aside>

## Delete a module

Delete a module (i.e. image, deployment or project).

The DELETE request will delete the specified resource if fully qualified (i.e. including the &lt;VERSION>) or the latest version otherwise.

### HTTP Request

`DELETE https://slipstream.sixsq.com/module/<module>/<version>`

### Body Parameters

Parameter | Required | Description
--------- | -------- | -----------
module | true | Unique identifier of the module - e.g. *examples/images/ubuntu-12.04*.
version | false | Version of the module. If not provided, delete the latest (most recent)

```shell
curl https://slipstream.sixsq.com/module/<module> -u <user>:<password> -X DELETE -D -
```

> The above command returns a header structured like this:

```http
HTTP/1.1 204 No Content
Date: Tue, 13 May 2014 03:08:15 GMT
Accept-Ranges: bytes
Location: https://slipstream.sixsq.com/module/examples/toto/11
Server: Restlet-Framework/2.1m4
Set-Cookie: com.sixsq.slipstream.cookie=com.sixsq.idtype=local&com.sixsq.identifier=test&com.sixsq.expirydate=1399993694970&com.sixsq.signature=izoalqmos489wxw8z25k03nqtsdfyxyv2ak5adi1e0h73zdziq45y1eat66tcob5ybvh7oe5gbh8es1onj4f6orj2enrqu9w9j0; Path=/
Content-Length: 0
```

## Module history (versions)

List all the history (i.e. all the versions) of the module. Since each PUT creates a new version
of the module, this request allows users to list these.

### HTTP Request

`GET https://slipstream.sixsq.com/module/<module>/`

<aside class="notice">
Notice the trailing '/' in the URL
</aside>

### Url Parameters

Parameter | Required | Description
--------- | -------- | -----------
module | true | Unique identifier of the module - e.g. *examples/images/ubuntu-12.04*.

```shell
curl https://slipstream.sixsq.com/module/<module>/ -u <user>:<password>
```

```xml
<versionList>
   <item resourceUri="module/examples/an-image/12" lastModified="2014-05-13 04:53:47.339 CEST" version="12" category="Image" name="an-image">
      <authz owner="test" ownerGet="true" ownerPut="true" ownerPost="true" ownerDelete="true" ownerCreateChildren="true" groupGet="false" groupPut="false" groupPost="false" groupDelete="false" groupCreateChildren="false" publicGet="false" publicPut="false" publicPost="false" publicDelete="false" publicCreateChildren="false" inheritedGroupMembers="true">
         <groupMembers />
      </authz>
      <commit author="test">
         <comment></comment>
      </commit>
   </item>
   <item resourceUri="module/examples/an-image/2" lastModified="2014-05-12 14:33:53.39 CEST" version="2" category="Image" name="an-image">
      <authz owner="test" ownerGet="true" ownerPut="true" ownerPost="true" ownerDelete="true" ownerCreateChildren="true" groupGet="false" groupPut="false" groupPost="false" groupDelete="false" groupCreateChildren="false" publicGet="false" publicPut="false" publicPost="false" publicDelete="false" publicCreateChildren="false" inheritedGroupMembers="true">
         <groupMembers />
      </authz>
      <commit author="test"/>
   </item>
</versionList>
```

  # Run

The *run* resource represents an execution in the cloud - i.e. running VMs.
SlipStream supports 3 types of runs:

 * Simple run: result of running an image
 * Deployment: result of running a deployment
 * Build image: result of creating a new image from an image template (or blueprint)

The run resource therefore represents one or several VMs, running or not depending
on the state of the run.

## List all Runs

List all runs of a user.

### HTTP Request

`GET https://slipstream.sixsq.com/run`

```shell
curl https://slipstream.sixsq.com/run -u <user>:<password>
```

```xml
<runs offset="0" limit="20" count="20" totalCount="93">
   <item resourceUri="run/fed1dd04-aa05-4a92-abb8-ed279f1f4dd4" uuid="fed1dd04-aa05-4a92-abb8-ed279f1f4dd4" moduleResourceUri="module/SlipStream/deploy-slipstream-dpl/745" status="Done" abort="" startTime="2015-03-17 13:34:51.440 UTC" cloudServiceNames="exoscale-ch-gva" username="sixsq_dev" type="Orchestration" tags=""/>
   <item resourceUri="run/1ab29b6a-f08c-45ae-9cf4-336a0415f46c" uuid="1ab29b6a-f08c-45ae-9cf4-336a0415f46c" moduleResourceUri="module/SlipStream/deploy-slipstream-dpl/742" status="Cancelled" abort="Failed running &apos;execute&apos; target on &apos;slipstream.1&apos;" startTime="2015-03-17 10:52:05.331 UTC" cloudServiceNames="exoscale-ch-gva" username="sixsq_dev" type="Orchestration" tags=""/>
   ...
</runs>
```

## Get a Run

Get a specific run.

### HTTP Request

`GET https://slipstream.sixsq.com/run/<run>`

### Url Parameters

Parameter | Required | Description
--------- | -------- | -----------
run       | true     | Run unique identifier - e.g. *fa3b9652-9dac-49e2-9573-b761777c8238*.

```shell
curl https://slipstream.sixsq.com/run/<run> -u <user>:<password>
```

```xml
<runs>
   <item resourceUri="run/4f187379-cdb9-470d-9656-b6fac6dc33d8" uuid="4f187379-cdb9-470d-9656-b6fac6dc33d8" moduleResourceUri="module/examples/tutorials/service-testing/system/471" status="Done" startTime="2014-05-10 15:22:56.882 UTC" cloudServiceName="exoscale-ch-gva" username="meb" type="Orchestration" tags=""/>
   <item resourceUri="run/fa3b9652-9dac-49e2-9573-b761777c8238" uuid="fa3b9652-9dac-49e2-9573-b761777c8238" moduleResourceUri="module/examples/tutorials/service-testing/system/471" status="Done" startTime="2014-05-10 15:13:29.352 UTC" cloudServiceName="exoscale-ch-gva" username="meb" type="Orchestration" tags=""/>
</runs>
```

## Create a Run

Create a new immutable (standard) run.

<aside class="notice">
Immutable runs cannot be changed once deployed. If you require to scale up or down the run, then request a <em>mutable</em> run (see below).
</aside>

<aside class="notice">
This mutable/immutable feature only applies to deployment type run (aka <em>Orchestration</em> type).
</aside>

The **Location** attribute in the response header provides the full url of the updated resource, with the incremented version.

### HTTP Request

`POST https://slipstream.sixsq.com/run`

### Body Parameters

Parameter | Required | Description
--------- | -------- | -----------
refqname  | true     | Reference module from which to create a run. Must be an *Image* or *Deployment* category - e.g. *fa3b9652-9dac-49e2-9573-b761777c8238*.
type      | depends  | Type of run. This is only required when running an image, since we can either deploy a VM (i.e. simple run) or create a new image (i.e. build). See below for type definition.

Run Type       | Description
-------------- | --------
Orchestration  | Deployment: only applies to deployment category.  This is the only valid type value for deployment, thus does not have to be provided.
Machine        | Build: build a new image on the targeted cloud and set the unique id back in the image definition.
Run            | Simple run: single VM deployment.


```shell
curl https://slipstream.sixsq.com/run -d refqname=module/examples/an-image -d type=Run -u <user>:<password> -X POST -H "Content-Type: text/plain" -D -
```

> The above command returns a header structured like this:

```http
HTTP/1.1 201 Created
Date: Tue, 13 May 2014 11:29:56 GMT
Accept-Ranges: bytes
Location: https://slipstream.sixsq.com/run/cce5ac6d-5465-4773-9875-66f21c65e15e
Server: Restlet-Framework/2.1m4
Set-Cookie: com.sixsq.slipstream.cookie=com.sixsq.idtype=local&com.sixsq.identifier=test&com.sixsq.expirydate=1400023769837&com.sixsq.signature=eck79w5qyslb16ke31vfof2b9o6729mcsjgnsqc143nsgqkuepmkgqnaakv544x7nankz4875p0uyg8unl8d5m4dl60wzr6pcpn; Path=/
Content-Length: 0
```

## Create a mutable Run

Create a new mutable run from a predefined deployment.

The **Location** attribute in the response header provides the full url of the newly created run.

### HTTP Request

`POST https://slipstream.sixsq.com/run`

### Body Parameters

Parameter | Required | Description
--------- | -------- | -----------
refqname  | true     | Reference module from which to create a run. Must be an *Image* or *Deployment* category - e.g. *fa3b9652-9dac-49e2-9573-b761777c8238*.
mutable  | true     | Define that the run is mutable - i.e., providing a possibility to add and remove node instances.

Run Type       | Description
-------------- | --------
Orchestration  | Deployment: only applies to deployment category.  This is the only valid type value for deployment, thus does not have to be provided.

<aside class="notice">
Only <em>Orchestration</em> type run can be created as mutable.
</aside>


```shell
curl https://slipstream.sixsq.com/run -d refqname=module/examples/a-deployment -d mutable=true -u <user>:<password> -X POST -H "Content-Type: text/plain" -D -
```

> The above command returns a header structured like this:

```http
HTTP/1.1 201 Created
Date: Tue, 13 May 2014 11:29:56 GMT
Accept-Ranges: bytes
Location: https://slipstream.sixsq.com/run/cce5ac6d-5465-4773-9875-66f21c65e15e
Server: Restlet-Framework/2.1m4
Set-Cookie: com.sixsq.slipstream.cookie=com.sixsq.idtype=local&com.sixsq.identifier=test&com.sixsq.expirydate=1400023769837&com.sixsq.signature=eck79w5qyslb16ke31vfof2b9o6729mcsjgnsqc143nsgqkuepmkgqnaakv544x7nankz4875p0uyg8unl8d5m4dl60wzr6pcpn; Path=/
Content-Length: 0
```

## Add node instances on a mutable Run

Add node instances on a mutable Run.

### HTTP Request

`POST https://slipstream.sixsq.com/run/<run-uuid>/<node-name>`

### Body Parameters

Parameter | Required | Description
--------- | -------- | -----------
n         | false    | Defines a number of node instances to be added. If omitted, one node instance is added.

```shell
curl https://slipstream.sixsq.com/run/cce5ac6d-5465-4773-9875-66f21c65e15e/centos_node -d n=2 -u <user>:<password> -X POST -H "Content-Type: text/plain" -D -
```

> The above command requests addition of two instances of the node type centos_node, returns 201 and the list of the created node instances in the body

```http
HTTP/1.1 201 Created
Content-type: text/plain; charset=UTF-8
Content-length: 27
Server: Restlet-Framework/2.2.1
Accept-ranges: bytes
Vary: Accept-Charset, Accept-Encoding, Accept-Language, Accept
Date: Wed, 25 Jun 2014 21:49:19 GMT
Set-cookie: com.sixsq.slipstream.cookie=com.sixsq.idtype=local&com.sixsq.identifier=test&com.sixsq.expirydate=1403776159248&com.sixsq.signature=k82fu5qecds8f4grtvxjxkv698sdr3bw6wtieqrsanjnqjqg9eb6imoq217ww0stu9q23gi8y8y4rcovn7sse1ah65881j7k3hw; Path=/

centos_node.2,centos_node.3
```

## Remove node instances from Run

Remove node instances from Run.

### HTTP Request

`DELETE https://slipstream.sixsq.com/run/<run-uuid>/<node-name>`

### Body Parameters

Parameter | Required | Description
--------- | -------- | -----------
ids       | true     | Defines the comma separated list of indices of the node instances to be removed.

```shell
curl https://slipstream.sixsq.com/run/cce5ac6d-5465-4773-9875-66f21c65e15e/centos_node -d ids=1,2 -u <user>:<password> -X DELETE -D -
```

> The above command requests deletion of two instances with indices 1 and 2 of the node type centos_node and returns 204 on success.

```http
HTTP/1.1 204 No Content
Content-length: 0
Server: Restlet-Framework/2.2.1
Accept-ranges: bytes
Date: Tue, 24 Jun 2014 14:09:01 GMT
Set-cookie: com.sixsq.slipstream.cookie=com.sixsq.idtype=local&com.sixsq.identifier=test&com.sixsq.expirydate=1403662141504&com.sixsq.signature=atvt4x3mc5p0b8komk26olefqeu392m9m63sb44t7k0t86rk2lw0n15o27al7ijm4opqhavh84fmqiti5xnewpldh3skm0rsuwq; Path=/
```

## Get instance names of a node in Run

Get instance names of a node in Run.

### HTTP Request

`GET https://slipstream.sixsq.com/run/<run-uuid>/<node-name>`

```shell
curl https://slipstream.sixsq.com/run/cce5ac6d-5465-4773-9875-66f21c65e15e/centos_node -u <user>:<password> "Content-Type: text/plain" -D -
```

> The above command requests a list of the instance names of the node centos_node.  On success, the return code is 200 and the body contains the comma separated list of the instance names.

```http
HTTP/1.1 200 OK
Content-type: text/plain; charset=UTF-8
Content-length: 65
Server: Restlet-Framework/2.2.1
Accept-ranges: bytes
Vary: Accept-Charset, Accept-Encoding, Accept-Language, Accept
Date: Wed, 25 Jun 2014 21:57:21 GMT
Set-cookie: com.sixsq.slipstream.cookie=com.sixsq.idtype=local&com.sixsq.identifier=test&com.sixsq.expirydate=1403776630991&com.sixsq.signature=-gkbwu2gknk54fcfbg5di4484bna1tttgn4na0za9fe4apgnkgjhcmc5b4mlqp5yzmnwkyf8meegow8iri4q2cz89a5pm3i7m5d7; Path=/

centos_node.1,centos_node.2,centos_node.3
```


# Virtual machines

```shell
curl https://slipstream.sixsq.com/vms --user <user>:<password>
```

> The above command returns a body structured like this:

```xml
<vms offset="0" limit="20" count="4" totalCount="4" user="super">
   <vm cloud="Exoscale"
      user="test"
      instanceId="96101801-b636-4752-9b04-74ec9a9abbc9"
      state="Booting"
      measurement="2015-04-01 14:34:22.273 CEST"/>
   <vm cloud="Exoscale"
      user="test"
      instanceId="bbb07949-ab64-4556-88fd-f9aed872e9d1"
      state="Running"
      measurement="2015-04-01 14:34:22.273 CEST"
      runUuid="ce3dfa8b-5a13-473b-bdd1-6e40ab71294b"
      runOwner="test"
      ip="185.19.29.126"
      name="testclient.1"
      nodeName="testclient"
      nodeInstanceId="1"/>
   <vm cloud="Exoscale"
      user="test"
      instanceId="ec05f8f2-1f05-48bc-aa33-b99f60b2209b"
      state="Running"
      measurement="2015-04-01 14:33:31.905 CEST"
      runUuid="ce3dfa8b-5a13-473b-bdd1-6e40ab71294b"
      runOwner="test"
      ip="185.19.29.122"
      name="orchestrator-Exoscale"/>
   <vm cloud="Amazon-EC2"
      user="test"
      instanceId="a2ca20d8-9506-42b9-80a3-ce15579591ab"
      state="Running"
      measurement="2015-04-01 14:33:21.426 CEST"
      runUuid="857fc1d4-6206-4d88-8a1c-81d83a117e86"
      runOwner="test"
      ip="185.19.29.123"
      name="machine"/>
</vms>
```

List status of all virtual machines (VMs), as known by the cloud providers.

<aside class="notice">
A privileged user sees by default VMs of all users.
</aside>

<aside class="notice">
VMs are sorted by <code class="prettyprint">measurment</code>
</aside>

### HTTP Request

`GET https://slipstream.sixsq.com/vms`

### Body Parameters

<aside class="notice">
None of these parameters are mandatory.
</aside>

Parameter | Default value | Possible values | Description
--------- | ------------- | --------------- |----------------------------
cloud     |               | *one cloud*     | Show only the specified Cloud
limit     | 20            | [1 - 500]       | Set the maximum number of VMs per page.
offset    | 0             | [0 - inf]       | Offset to navigate through pages.
runUuid   |               | *one run uuid*  | Show only VMs associated with the specified run uuid
runOwner  |               | *one username*  | Show only VMs associated with Runs owned by a specific user
user      |               | *one username*  | Show VMs the specified user can see

<aside class="warning">
The <code class="prettyprint">user</code> parameter is reserved to privileged users.
</aside>

### `<vms>` Attributes

Attribute  | Always present | Description
---------- | -------------- | -----------------------------------------------------
cloud      | no             | The Cloud specified in the request if any
limit      | no             | The limit specified in the request if any
offset     | no             | The offset specified in the request if any
count      | yes            | The number of `<vm>` elements returned
totalCount | yes            | The total number of `<vm>` elements for this request
runUuid    | no             | The Run uuid specified in the request if any
runOwner   | no             | The Run owner (username) specified in the request if any
user       | no             | The user for which VMs are displayed. Doesn't exist if VMs for all users are displayed


### `<vm>` Attributes

Attribute      | Always present | Description
-------------- | -------------- | -----------------------------------------------------
cloud          | yes            | The Cloud on which the VM is running
user           | yes            | The user from which the VM was retrived
instanceId     | yes            | The id of the VM on the Cloud
state          | yes            | The state of the VM as provided by the Cloud
measurement    | yes            | The time when the VM was seen for the first time
runUuid        | no             | The uuid of the Run from which the VM is part of
runOwner       | no             | The owner of the Run from which the VM is part of
ip             | no             | The IP address of the VM
name           | no             | The name of the VM in his Run.
nodeName       | no             | The name of the node from which the VM is part of in his Run.
nodeInstanceId | no             | The id of the node instance of the VM in his Run.


# User

The user resource provides user management.

## Get All Users

<aside class="warning">
This resource is restricted to privileged users.
</aside>

List all users.

```shell
curl https://slipstream.sixsq.com/user --user <user>:<password>
```

> The above command returns XML structured like this:

```xml
<list>
<item name="super"  resourceUri="user/super"  firstName="Super"  lastName="User"  email="super@sixsq.com"  state="ACTIVE"  activeSince="2015-03-11 14:00:57.656 CET"  lastOnline="2015-04-01 14:58:57.466 CEST"  lastExecute="2015-03-12 18:03:13.853 CET"  organization="SixSq"  issuper="true"  online="true" />
</list>
```

### HTTP Request

`GET https://slipstream.sixsq.com/user`


## Get a specific user

```shell
curl https://slipstream.sixsq.com/user/<user> --user <user>:<password>
```

> The above command returns xml structured like this:

```xml
<?xml version="1.0"?>
<user deleted="false" resourceUri="user/super" name="super" email="super@sixsq.com" firstName="Super" lastName="User" organization="SixSq" issuper="true" state="ACTIVE" lastOnline="2015-04-01 17:48:21.661 CEST" lastExecute="2015-04-01 17:19:46.364 CEST" activeSince="2015-03-24 18:07:21.757 CET" creation="2015-03-24 18:07:21.746 CET">
   <parameters class="org.hibernate.collection.internal.PersistentMap">
      <entry>
         <string>General.Verbosity Level</string>
         <parameter name="General.Verbosity Level" description="Level of verbosity" category="General" mandatory="true" type="Enum" readonly="false" order_="30" order="30">
            <instructions><![CDATA[0 - Actions,  1 - Steps,  2 - Details data,  3 - Debugging]]></instructions>
            <enumValues length="4">
               <string>0</string>
               <string>1</string>
               <string>2</string>
               <string>3</string>
            </enumValues>
            <value><![CDATA[0]]></value>
         </parameter>
      </entry>
      <entry>
         <string>test-cloud.username</string>
         <parameter name="test-cloud.username" description="Account username" category="test-cloud" mandatory="true" type="RestrictedString" readonly="false" order_="10" order="10">
            <value><![CDATA[]]></value>
         </parameter>
      </entry>
      <entry>
         <string>General.ssh.public.key</string>
         <parameter name="General.ssh.public.key" description="SSH Public Key(s) (one per line)" category="General" mandatory="true" type="RestrictedText" readonly="false" order_="50" order="50">
            <instructions><![CDATA[Warning: Some clouds may take into account only the first key until SlipStream bootstraps the machine.]]></instructions>
            <value><![CDATA[adasdasd]]></value>
         </parameter>
      </entry>
      <entry>
         <string>test-cloud.password</string>
         <parameter name="test-cloud.password" description="Account password" category="test-cloud" mandatory="true" type="Password" readonly="false" order_="20" order="20">
            <value><![CDATA[]]></value>
         </parameter>
      </entry>
      <entry>
         <string>General.keep-running</string>
         <parameter name="General.keep-running" description="Keep running after deployment" category="General" mandatory="true" type="Enum" readonly="false" order_="15" order="15">
            <instructions><![CDATA[Here you can define if and when SlipStream should leave the application running after performing the deployment. <br/><code>On success</code> is useful for production deployments or long tests. </br><code>On Error</code> might be useful so that resources are consumed only when debugging is needed. <br/><code>Never</code> ensures that SlipStream automatically terminates the application after performing the deployment. <br/>Note: This parameter doesn't apply to <code>mutable deployment</code> Runs and to <code>build image</code> Runs.]]></instructions>
            <enumValues length="4">
               <string>always</string>
               <string>on-success</string>
               <string>on-error</string>
               <string>never</string>
            </enumValues>
            <value><![CDATA[on-success]]></value>
         </parameter>
      </entry>
      <entry>
         <string>General.default.cloud.service</string>
         <parameter name="General.default.cloud.service" description="Default Cloud" category="General" mandatory="true" type="Enum" readonly="false" order_="10" order="10">
            <instructions><![CDATA[Select the cloud that you want to use as the default.]]></instructions>
            <enumValues length="1">
               <string>test-cloud</string>
            </enumValues>
            <value><![CDATA[test-cloud]]></value>
         </parameter>
      </entry>
      <entry>
         <string>General.Timeout</string>
         <parameter name="General.Timeout" description="Execution timeout (in minutes)" category="General" mandatory="true" type="String" readonly="false" order_="40" order="40">
            <instructions><![CDATA[If the execution stays in a transitional state for more than the value of this timeout, the execution is forcefully terminated.]]></instructions>
            <value><![CDATA[30]]></value>
         </parameter>
      </entry>
   </parameters>
</user>
```

This resource retrieves a specific user.

### HTTP Request

`GET https://slipstream.sixsq.com/user/<user>`

### URL Parameters

Parameter | Required | Description
--------- | -------- | -----------
user | true | User name to retrieve

# Event

From [CIMI Model and RESTful HTTP-based Protocol documentation 5.17.13](http://dmtf.org/sites/default/files/standards/documents/DSP0263_1.0.1.pdf)

<aside class="notice">
An resource that represents the occurrence of an event within the managed infrastructure. 
<br/><br/>
Some examples of Events may be:

<ul>
<li>Machine X has been rebooted by guest OS</li>
<li>Machine X is not responding to platform services.</li>
<li>A new vCPU has been added to machine X following defined elasticity rules.</li>
</ul>
</aside>

This resource can be created for example to log for a given run the following events:

* State transition
* Termination (manual)
* First abort call (with reason)
* Scaling up or down

<aside class="warning">
An event can <strong>not</strong> be updated, only deleted.
</aside>


## List all Events

Lists all events accessible by the authenticated user. A user has the right to see an event if she is the owner, or is a super user.

### HTTP Request

`GET https://slipstream.sixsq.com/event/`

```shell
curl https://slipstream.sixsq.com/event/ -u <user>:<password> -D -
```

> The above command returns json structured like this:

```http
HTTP/1.1 200 OK
Content-Type: application/json
Content-Length: 2284
Server: http-kit
Date: Thu, 19 Mar 2015 13:15:48 GMT

{
  "events" : [ {
    "content" : {
      "resource" : {
        "href" : "Run/45614147-aed1-4a24-889d-6365b0b1f2cd"
      },
      "state" : "Started"
    },
    "updated" : "2015-03-19T09:39:38.238Z",
    "type" : "state",
    "created" : "2015-03-19T09:39:38.238Z",
    "id" : "Event/0d78db78-1b98-4bd1-ba14-bf378da68a66",
    "severity" : "medium",
    "acl" : {
      "owner" : {
        "type" : "USER",
        "principal" : "joe"
      },
      "rules" : [ {
        "type" : "ROLE",
        "principal" : "ANON",
        "right" : "ALL"
      } ]
    },
    "operations" : [ {
      "rel" : "http://sixsq.com/slipstream/1/Action/delete",
      "href" : "Event/0d78db78-1b98-4bd1-ba14-bf378da68a66"
    } ],
    "resourceURI" : "http://sixsq.com/slipstream/1/Event",
    "timestamp" : "2015-01-10T08:20:00.0Z"
  } ],
  "operations" : [ {
    "rel" : "http://sixsq.com/slipstream/1/Action/add",
    "href" : "Event"
  } ],
  "acl" : {
    "rules" : [ {
      "type" : "ROLE",
      "right" : "ALL",
      "principal" : "ANON"
    } ],
    "owner" : {
      "type" : "ROLE",
      "principal" : "ADMIN"
    }
  },
  "resourceURI" : "http://sixsq.com/slipstream/1/EventCollection",
  "id" : "Event",
  "count" : 1
}
```

## Create an Event

Create an event that contains information (mainly timestamp and state) related to a target resource.

### HTTP Request

`POST https://slipstream.sixsq.com/event`

### Body Parameters

Parameter   | Required  | Description
------------| --------  | -----------
timestamp   | true      | The timestamp (GMT time) of the event (not to be confused with created and updated timestamps of the resource representing the event)
content     | true      | Structure containing the resource reference (i.e the **target** of this event) and its state
type        | true      | Accepted values: `state` and `alarm`
severity    | true      | Accepted values: `critical`, `high`, `medium` and `low`

```shell
curl https://slipstream.sixsq.com/event -d "{ \"acl\": {\"owner\": {\"type\": \"USER\", \"principal\": \"joe\"},    \"rules\": [{\"type\": \"ROLE\", \"prinipal\": \"ANON\", \"right\": \"ALL\"}]},    \"id\": \"123\",    \"created\" :  \"2015-01-16T08:20:00.0Z\",    \"updated\" : \"2015-01-16T08:20:00.0Z\",    \"resourceURI\" : \"http://slipstream.sixsq.com/ssclj/1/Event\",    \"timestamp\": \"2015-01-10T08:20:00.0Z\",    \"content\" :  { \"resource\":  {\"href\": \"Run/45614147-aed1-4a24-889d-6365b0b1f2cd\"},    \"state\" : \"Started\" } ,    \"type\": \"state\",    \"severity\": \"medium\"}" -X POST -H "Content-Type: application/json" -u <user>:<password> -D -
```

> The above command returns a json structured like this:

```http
HTTP/1.1 201 Created
Location: Event/257cf1bd-1397-4296-8124-bb2213425b6e
Content-Type: application/json
Content-Length: 152
Server: http-kit
Date: Thu, 19 Mar 2015 12:47:38 GMT

{
  "status" : 201,
  "message" : "created Event/257cf1bd-1397-4296-8124-bb2213425b6e",
  "resource-id" : "Event/257cf1bd-1397-4296-8124-bb2213425b6e"
}
```

> In case of error (e.g invalid value for `severity`), the following json is returned (note that the message details the origin of the problem):

```http
HTTP/1.1 400 Bad Request
Content-Type: application/json
Content-Length: 232
Server: http-kit
Date: Thu, 19 Mar 2015 13:48:11 GMT

{
  "status" : 400,
  "message" : "resource does not satisfy defined schema: {:acl {:rules [{:prinicpal disallowed-key, :principal missing-required-key}]}, :severity (not (#{\"low\" \"high\" \"medium\" \"critical\"} \"urgent\"))}"
}
```

## Get an Event

Get a specific event.

### HTTP Request

`GET https://slipstream.sixsq.com/event/<event-uuid>`

```shell
curl https://slipstream.sixsq.com/event/4605ee06-ccda-48f5-a481-23c6ab296b0d -u <user>:<password> -D -
```

> The above command returns a json structured like this:

```http
HTTP/1.1 200 OK
Content-Type: application/json
Content-Length: 869
Server: http-kit
Date: Thu, 19 Mar 2015 13:17:06 GMT

{
  "content" : {
    "resource" : {
      "href" : "Run/45614147-aed1-4a24-889d-6365b0b1f2cd"
    },
    "state" : "Started"
  },
  "updated" : "2015-03-19T12:46:16.766Z",
  "type" : "state",
  "created" : "2015-03-19T12:46:16.766Z",
  "id" : "Event/4605ee06-ccda-48f5-a481-23c6ab296b0d",
  "severity" : "medium",
  "acl" : {
    "owner" : {
      "type" : "USER",
      "principal" : "joe"
    },
    "rules" : [ {
      "type" : "ROLE",
      "principal" : "ANON",
      "right" : "ALL"
    } ]
  },
  "operations" : [ {
    "rel" : "http://sixsq.com/slipstream/1/Action/delete",
    "href" : "Event/4605ee06-ccda-48f5-a481-23c6ab296b0d"
  } ],
  "resourceURI" : "http://sixsq.com/slipstream/1/Event",
  "timestamp" : "2015-01-10T08:20:00.0Z"
}
```

## Delete an Event

Delete a specific (the event-uuid is known) event.

### HTTP Request

`DELETE https://slipstream.sixsq.com/event/<event-uuid>`

```shell
curl -X DELETE  https://slipstream.sixsq.com/event/85d787ea-a06e-4577-bf2b-1e681d5769a2 -u <user>:<password> -D -
```

> The above command returns a json structured like this:

```http
HTTP/1.1 204 No Content
Content-Type: application/json
Content-Length: 152
Server: http-kit
Date: Thu, 19 Mar 2015 13:26:27 GMT
```

> When providing an invalid event-uuid, here is the response:

```http
HTTP/1.1 404 Not Found
Content-Type: application/json
Content-Length: 102
Server: http-kit
Date: Thu, 19 Mar 2015 13:35:57 GMT

{
  "status" : 404,
  "message" : "Event/wrong-uuid not found",
  "resource-id" : "Event/wrong-uuid"
}
```

# The *new* resource

To retrieve example resource structures, especially for resource types that don't yet exist,
you can use the special *new* resource.

### HTTP Request

`GET https://slipstream.sixsq.com/<type>/new[?category=Image]`

### Query Parameters

Parameter | Required | Description
--------- | -------- | -----------
type | true | Type of resource to retrieve (e.g. module, user)
category | false | Only required for *module* &lt;type>. Can be: *project* (default), *image* or *deployment*.

```shell
curl https://slipstream.sixsq.com/module/examples/new?category=Image login -d username=<USER> -d password=<PASSWORD>
```

> The above command returns a response body structured like this:

```xml
<imageModule category="Image" creation="2014-05-12 09:59:36.354 UTC" deleted="false" isBase="false" isLatestVersion="false" loginUser="" parentUri="module/Mebster" platform="" shortName="new" version="-1">
	<parameters>
		<entry>
			<string>instanceid</string>
			<parameter category="Output" description="Cloud instance id" isSet="false" mandatory="true" name="instanceid" order="0" order_="0" readonly="false" type="String"/>
		</entry>
		<entry>
			<string>extra.disk.volatile</string>
			<parameter category="Cloud" description="Volatile extra disk in GB" isSet="false" mandatory="true" name="extra.disk.volatile" order="0" order_="0" readonly="false" type="String"/>
		</entry>
		<entry>
			<string>ec2-eu-west.instance.type</string>
			<parameter category="ec2-eu-west" description="Cloud instance type" isSet="false" mandatory="true" name="ec2-eu-west.instance.type" order="0" order_="0" readonly="false" type="Enum">
				<enumValues length="10">
					<string>m1.small</string>
					<string>m1.large</string>
					<string>m1.xlarge</string>
					<string>c1.medium</string>
					<string>c1.xlarge</string>
					<string>m2.xlarge</string>
					<string>m2.2xlarge</string>
					<string>m2.4xlarge</string>
					<string>cc1.4xlarge</string>
					<string>t1.micro</string>
				</enumValues>
			</parameter>
		</entry>
		<entry>
			<string>exoscale-ch-gva.security.groups</string>
			<parameter category="exoscale-ch-gva" description="Security Groups (comma separated list)" isSet="true" mandatory="true" name="exoscale-ch-gva.security.groups" order="0" order_="0" readonly="false" type="String">
				<value>default</value>
				<defaultValue>default</defaultValue>
			</parameter>
		</entry>
		<entry>
			<string>ec2-eu-west.security.group</string>
			<parameter category="ec2-eu-west" description="Security groups (comma separated list)" isSet="true" mandatory="true" name="ec2-eu-west.security.group" order="0" order_="0" readonly="false" type="String">
				<value>default</value>
				<defaultValue>default</defaultValue>
			</parameter>
		</entry>
		<entry>
			<string>network</string>
			<parameter category="Cloud" description="Network type" isSet="true" mandatory="true" name="network" order="0" order_="0" readonly="false" type="Enum">
				<enumValues length="2">
					<string>Public</string>
					<string>Private</string>
				</enumValues>
				<value>Public</value>
				<defaultValue>Public</defaultValue>
			</parameter>
		</entry>
		<entry>
			<string>exoscale-ch-gva.instance.type</string>
			<parameter category="exoscale-ch-gva" description="Instance type (flavor)" isSet="false" mandatory="true" name="exoscale-ch-gva.instance.type" order="0" order_="0" readonly="false" type="String"/>
		</entry>
		<entry>
			<string>hostname</string>
			<parameter category="Output" description="hostname/ip of the image" isSet="false" mandatory="true" name="hostname" order="0" order_="0" readonly="false" type="String"/>
		</entry>
	</parameters>
	<authz groupCreateChildren="false" groupDelete="false" groupGet="false" groupPost="false" groupPut="false" inheritedGroupMembers="true" owner="meb" ownerCreateChildren="true" ownerDelete="true" ownerGet="true" ownerPost="true" ownerPut="true" publicCreateChildren="false" publicDelete="false" publicGet="false" publicPost="false" publicPut="false">
		<groupMembers />
	</authz>
	<cloudNames length="3">
		<string>exoscale-ch-gva</string>
		<string>ec2-eu-west</string>
		<string>default</string>
	</cloudNames>
	<runs/>
	<targets />
	<packages />
	<prerecipe/>
	<recipe/>
	<cloudImageIdentifiers />
</imageModule>
```

<aside class="notice">
On the root module resource (i.e. /module), only project category can be requested.
</aside>

<aside class="notice">
This also means that <em>new</em> is a reserved word and modules and users cannot be called new.
</aside>




# Errors

The SlipStream REST API uses the following error codes:


Error Code | Meaning
---------- | -------
400 | Bad Request -- Your request is inconsistent
401 | Unauthorized -- Your username/password of cookie is wrong
403 | Forbidden -- You don't have the rights to perform this action
404 | Not Found -- The requested resource doesn't exist
405 | Method Not Allowed -- You tried to access a resource with an invalid method
406 | Not Acceptable -- You requested a format that is not supported
409 | The request could not be processed because of conflict in the request, such as an edit conflict in the case of multiple updates.
413 | The request is larger than the server is willing or able to process.
418 | I'm a teapot -- The all time classic :-)
429 | Too Many Requests -- The user has sent too many requests in a given amount of time.
500 | Internal Server Error -- We have a problem with our server. Try again later.
503 | Service Unavailable -- We're temporarially offline for maintenance. Please try again later.
